@import "tailwindcss";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@theme {
  --animate-border: border-anim 4s linear infinite;
  @keyframes border-anim {
    100% {
      --border-angle: "360deg";
    }
  }
}

#root {
  min-height: 100dvh !important;
  background-color: #0b1c2d !important;
  padding-bottom: calc(env(safe-area-inset-bottom)) !important;
}
